
<h2>Login</h2>

<script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="google-signin-client_id" content={{id}}>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
