<div id="login-father">
  <div id="inside">
    <h2>Login</h2>
    <a class="loginBtn loginBtn--google" href="/auth/google">Login With Google</a>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </div>
  <img id="foto"
    src="https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO%20Images%202019/Health/08August/Cr-Health-InlineHero-How-To-Hear-Better-At-Concerts-8-19"
    alt="concert">
</div>