<h2>Signup</h2>

<script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="google-signin-client_id" content={{clientId}}>

<div class="g-signin2" data-onsuccess="onSignIn"></div>

</form>
