<h1>{{name}}</h1>

<!-- map.html -->

<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>
  <style>
    #map {
      height: 400px;
      width: 50%;
    }
  </style>
</head>

<body>
  <h3>My First Map</h3>
  <div id="map"></div>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjDRv5gGCPnJIHje3XIh4BClc6xdNMJ5U"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjDRv5gGCPnJIHje3XIh4BClc6xdNMJ5U&libraries=places"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>

</body>

</html>