<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>


<script src="/javascripts/profile.js"></script>


<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/hLQl3WQQoQ0?autoplay=1&origin=http://example.com" frameborder="0"></iframe>

<div id="ytplayer"></div>




<a href="/prueba">prueba</a>