// colors #322b5b, #3e4894, #662e68, #b0b8db, #4e5572 

body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  background-color: #322b5b;
  color: white;
  margin: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

a {
  color: inherit;
  text-decoration: none;
  :hover {
  color: #b0b8db;
  }
}

h1{
  font-family: 'Calistoga', cursive;
  letter-spacing: 10px;
  color: #b0b8db;
  text-shadow: 2px 2px 4px #3e4894;
  font-size: 44px
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align: center;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

  a{
    color: white;
    padding: 8px 16px;
  }
  }